// PALETA
$branco = 			#fff
$preto = 			#000
$azul = 			#0199b1
$amarelo = 			#fec43f
$cinza_escuro = 	#2d2d2d
$cinza = 			#828081

// VARIAVEIS
$baseColor = 		$cinza_escuro
$alternateColor =	$cinza
$highlight =  		$azul
$background =  		$branco                 
$borderColor =  	$cinza_escuro
$textColor =  		$cinza_escuro
$headingColor =  	$alternateColor